bottle /home/nah/code/aloof_ws/src/raptor/ffld/data/out/bottle -0.4
minute_maid /home/nah/code/aloof_ws/src/raptor/ffld/data/out/minute_maid -0.5
mug /home/nah/code/aloof_ws/src/raptor/ffld/data/outoffice/n03797390_final -0.9
#bowl /home/nah/code/aloof_ws/src/raptor/ffld/data/out/bowl -0.6
#clock /home/nah/code/aloof_ws/src/raptor/ffld/data/out/clock -0.85
coca_cola /home/nah/code/aloof_ws/src/raptor/ffld/data/out/coca_cola -0.75
scissors /home/nah/code/aloof_ws/src/raptor/ffld/data/out/scissors -0.9
tupperware /home/nah/code/aloof_ws/src/raptor/ffld/data/out/tupperware -0.7
#wipes /home/nah/code/aloof_ws/src/raptor/ffld/data/out/wipes -0.9
#restroom /home/nah/code/aloof_ws/src/raptor/ffld/data/out/restroom.adapt 0.35
#stairs /home/nah/code/aloof_ws/src/raptor/ffld/data/out/stairs.adapt 0.43
#exit /home/nah/code/aloof_ws/src/raptor/ffld/data/out/exit.adapt 0.35
#emergency_exit /home/nah/code/aloof_ws/src/raptor/ffld/data/out/emergency.adapt 0.35
#computer_mouse_NEW /home/nah/code/aloof_ws/src/raptor/ffld/data/outoffice/model.ffld.new.txt 0.5
computer_mouse_ADPT /home/nah/code/aloof_ws/src/raptor/ffld/data/outoffice/model.ffld.adapt.txt 0.35
#computer_mouse_WEB /home/nah/code/aloof_ws/src/raptor/ffld/data/outoffice/model.ffld.imagenet.txt 0.5

