<launch>
  <node name="transfer_images_torecord" pkg="raptor" type="transfer_images_torecord">
	<remap from="image_in" to="/usb_cam/image_raw"/>
 </node>
  <!--node name="image_view_original" pkg="image_view" type="image_view">
	<remap from="image" to="/usb_cam/image_raw"/>
  </node>
  <node name="image_view_modified" pkg="image_view" type="image_view">
	<remap from="image" to="/bolt/vision/image"/>
  </node-->
</launch>
