bottle /home/goehring/ros_workspace/ffld/out/bottle -0.4
minute_maid /home/goehring/ros_workspace/ffld/out/minute_maid -0.5
mug /home/goehring/ros_workspace/ffld/outoffice/n03797390_final -0.9
#bowl /home/goehring/ros_workspace/ffld/out/bowl -0.6
#clock /home/goehring/ros_workspace/ffld/out/clock -0.85
coca_cola /home/goehring/ros_workspace/ffld/out/coca_cola -0.75
scissors /home/goehring/ros_workspace/ffld/out/scissors -0.9
tupperware /home/goehring/ros_workspace/ffld/out/tupperware -0.7
#wipes /home/goehring/ros_workspace/ffld/out/wipes -0.9
#restroom /home/goehring/ros_workspace/ffld/out/restroom.adapt 0.35
#stairs /home/goehring/ros_workspace/ffld/out/stairs.adapt 0.43
#exit /home/goehring/ros_workspace/ffld/out/exit.adapt 0.35
#emergency_exit /home/goehring/ros_workspace/ffld/out/emergency.adapt 0.35
#newObject_NEW /home/goehring/ros_workspace/ffld/outoffice/model.ffld.new.txt 0.5
newObject_ADPT /home/goehring/ros_workspace/ffld/outoffice/model.ffld.adapt.txt 0.35
#newObject_WEB /home/goehring/ros_workspace/ffld/outoffice/model.ffld.imagenet.txt 0.5
